#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

set +e
db_input high tokumx-common/email_address
if [ $? -eq 30 ]; then
    exit 0
fi
set -e
db_go

exit 0  # exit here for community

db_get tokumx-common/email_address || true
while [ x"$RET" == x"" ]; do
    db_input critical tokumx-common/email_address
    db_go
    db_get tokumx-common/email_address || true
done
